* {
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top: 0;
}

.Style {
    background: rgba(0, 0, 0, 0.7)url(../Images/wallpaper-hd-laptop.jpg);
    background-size: cover;
    background-blend-mode: darken;
}

.navbar {
    display: flex;
}

.navlist {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

#logo {
    width: 30%;
    padding-top: 15px;
    padding-left: 34px;
}

#logo img {
    border: 3px aqua;
    border-radius: 150px;
}

#logo p {
    text-decoration: none;
    float: right;
    font-size: 24px;
    color: aqua;
    margin: 13px 93px 0px 0px;
}

#logo b {
    color: red;
}

.navlist li {
    list-style: none;
    padding-top: 35px;
}

.navlist li a {
    color: rgb(0, 255, 98);
    text-decoration: none;
}

.navlist li a:hover {
    color: blueviolet;
    background-color: #00000040;
}
.tuts{
    display: none;
}